#navbar {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
}

.nav-left {
  margin: 0 20% 0 50px;
}

.nav-mid a {
  margin-right: 80px;
  color: #ffffff;
}

.nav-right {
  margin-right: 50px;
}