/* Mobile Devices */
@media (max-width: 480px) {
  .nav-mid {
    display: none;
  }
  .nav-right {
    display: none;
  }
  #navbar i {
    margin-right: 50px;
  }
  #main .Horizontal-line {
    display: none;
  }
  .title h1 {
    margin: 100px 0 0 60px;
    font-weight: 900;
    font-size: 30px;
  }
  .main-right {
    position: absolute;
    right: 60px;
    top: -135px;
    padding: 20px;
    background-color: #ffffff1d;
  }
  .v-line {
    display: none;
  }
  .v-ball {
    display: none;
  }
  .main-bottom {
    position: absolute;
    right: 20%;
    bottom: -160px;
    padding: 20px;
    background-color: #ffffff1d;
  }
  .h-line {
    display: none;
  } 
  .h-ball {
    display: none;
  }
  .title button {
    margin: 30px 0 0 60px;
    background-color: transparent;
    border-color: #FFFFFF;
    width: 180PX;
    height: 50PX;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #ffffff;
  }
  #main {
    /* background-color: violet; */
    margin-top: 140px;
  }
}


/* ipads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .nav-mid {
    display: none;
  }
  .nav-right {
    display: none;
  }
  #navbar i {
    margin-right: 50px;
  }
  #main .Horizontal-line {
    display: none;
  }
  .title h1 {
    margin: 100px 0 0 60px;
    font-weight: 900;
    font-size: 40px;
  }
  .main-right {
    position: absolute;
    right: 60px;
    top: -135px;
    padding: 20px;
    background-color: #ffffff1d;
  }
  .v-line {
    display: none;
  }
  .v-ball {
    display: none;
  }
  .main-bottom {
    position: absolute;
    right: 20%;
    bottom: -160px;
    padding: 20px;
    background-color: #ffffff1d;
  }
  .h-line {
    display: none;
  } 
  .h-ball {
    display: none;
  }
  .title button {
    margin: 30px 0 0 60px;
    background-color: transparent;
    border-color: #FFFFFF;
    width: 180PX;
    height: 50PX;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #ffffff;
  }
}


/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .nav-mid a {
    margin-right: 6px;
  }
  .nav-left {
    margin: 0 0 0 50px;
  }
  #navbar i {
    display: none;
  }
  .title h1 {
    margin: 100px 0 0 60px;
    font-weight: 900;
    font-size: 45px;
  }
  .main-right {
    position: absolute;
    right: 60px;
    top: -50px;
    padding: 20px;
    background-color: #ffffff1d;
  }
}


/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  .nav-mid a {
    margin-right: 18px;
  }
  #navbar i {
    display: none;
  }
  .title h1 {
    margin: 100px 0 0 60px;
    font-weight: 900;
    font-size: 60px;
  }
}


/* Extra large screens, TV */
@media (min-width: 1201px) {
  .nav-mid a {
    margin-right: 48px;
  }
  #navbar i {
    display: none;
  }
}