/* Mobile Devices */
@media (max-width: 480px) {
  .nav-mid {
    display: none;
  }
  .nav-right {
    display: none;
  }
  #navbar i {
    margin-right: 50px;
  }
  #main .Horizontal-line {
    display: none;
  }
}


/* ipads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .nav-mid {
    display: none;
  }
  .nav-right {
    display: none;
  }
  #navbar i {
    margin-right: 50px;
  }
  #main .Horizontal-line {
    display: none;
  }
}


/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .nav-mid a {
    margin-right: 6px;
  }
  .nav-left {
    margin: 0 0 0 50px;
  }
  #navbar i {
    display: none;
  }
}


/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  .nav-mid a {
    margin-right: 18px;
  }
  #navbar i {
    display: none;
  }
}


/* Extra large screens, TV */
@media (min-width: 1201px) {
  .nav-mid a {
    margin-right: 48px;
  }
  #navbar i {
    display: none;
  }
}